@import './../base/mixins.scss';

.nutrient {
    width: 100%; 
    height: 124px;
    background-color: #FBFBFB;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    display: flex;
    align-items: center;
    margin-bottom: 39px;
    @include tablet-only{
        width: 48%;
        margin: 1em 0 0 0 ;
      }
    img {
        margin-left: 32px;
    }
    p {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #282D30;
        margin-left: 24px;
        text-align: start;
        span {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #74798C;
        }
    }
}