@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  &-dashboard {
    display: flex;
    main {
      width: 80%;
      height: 100vh;
      margin: auto;
      .infos {
        display: flex;
      }
      .infos-graphics {
        width: 75%;
        height: 652px;
        background-color: blue;
      }
      .infos-nutrients {
        width: 25%;
        height: 652px;
        background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    }
  }
}